

.quadrado {
  height: 60;
    margin-left: 900;
    transform: translateY(-10%);
    margin-left: 70%; 
    text-align: left;
    background-color: #251d3d;
    color: white;
    font-family: "Open Sans Condesed", sans-serif;
    width: 30%;
  background: #251d3d;
  padding-top: 1%;
}

#meulink { color: #ffffff; }



.botao2{
  background-color: #FF4500;
  border: none;
  color: #fff;
  padding: 10px 30px;
  width: 90%;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}
@keyframes pulse {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.1);
}
100% {
  transform: scale(1);
}
}

.botao:hover {
  animation: none;
}



.botao{
  background-color: #FF4500;
  border: none;
  color: #fff;
  padding: 5px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 5px;
  /*animation: pulse 2s infinite;*/
}
@keyframes pulse {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.1);
}
100% {
  transform: scale(1);
}
}

.botao:hover {
  animation: none;
}



.quadrado2 {
  height: 50;
    text-align: right;
    background-color: #251d3d;
    color: white;
    font-family: "Open Sans Condesed", sans-serif;
    margin-left: 210; 
  background: #f8f8f8;
}

H5{
  text-align:left;
  color: black;
  font-family: "Open Sans Condesed", sans-serif;
  margin-left: 210; 

}

H6{
    text-align: center;
    background-color: #251d3d;
    color: white;
    font-family: "Open Sans Condesed", sans-serif;
    margin-left: 600; 
  
  }

h4{
  text-align: center;
  background-color: #251d3d;
  color: white;
}

#menu{

padding-left:1%;
height: 650px;
width: 17%;
background-color: #251d3d;
float: left;
overflow: hidden;
border-right-color: #fff;
border-right-style: solid;
border-top-style: none;
border-bottom-style: none;
border-left-style: none;
}

.opcoes-menu{
  
overflow: auto;
}

#principal{

 
height: 60px;
width: 82%;
background-color: #251d3d;
float: right;
align-items: center;
left: 350px;


}

.div1, .div2 {
  float: left;
}

.div1{
  padding: 2% 0% 0% 4%;
  width: 68%;
}
.div2{
  width: 32%;
}







